{% extends 'base.html.twig' %}

{% block title %}SEEKER -JOBS{% endblock %}

{% block body %}

    {{ dump(applications) }}
    {% if applications is empty %}
        <h2> NO APPLICATIONS </h2>
    {% endif %}

    {% for application in applications %}
    <div class="card">
        <div class="card-header">
            {{ application.job.company.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ application.job.JobTitle }}</h5>
            <p class="card-text">{{ application.job.JobDescr }}</p>
            {% if application.status == 'new' or application.status == 'pending' %}
                <i class="fas fa-info-circle app-pending"></i>
            {% elseif application.status == 'accept' %}
                <i class="far fa-check-circle app-accept"></i>
            {% elseif application.status == 'reject' %}
                <i class="far fa-times-circle app-reject"></i>
            {% endif %}
            <a href="{{ path('seeker_view_application', {id: job.id}) }}" class="btn btn-primary">View Application</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}
