{% extends 'base.html.twig' %}

{% block title %}Job Portal - New Company Profile{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'id': 'frmCompany'}}) }}

    {{ form_row(form.companyEmail) }}

    {{ form_row(form.companyName) }}

    {{ form_row(form.name) }}

    {{ form_row(form.email) }}

    {{ form_row(form.address) }}

    <select name="stlseeker" id="stlseeker" required>
        <option value="0">Select Contact Person</option>
        {% for seeker in seekers %}
            <option value="{{ seeker.id }}">{{ seeker.firstname ~ ' ' ~ seeker.lastname }}</option>
        {% endfor %}
    </select>

    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
