{% extends 'base.html.twig' %}

{% block title %}Job Portal - New Company Profile{% endblock %}

{% block body %}
    {# Flash message #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'id': 'frmCompany', 'novalidate':'true'}}) }}

    <div class="form-group cName">
        {{ form_label(form.companyName) }}
        {{ form_widget(form.companyName) }}
        {{ form_errors(form.companyName) }}
    </div>

    <div class="form-group cpname">
        {{ form_label(form.cpName) }}
        {{ form_widget(form.cpName) }}
        {{ form_errors(form.cpName) }}
    </div>

    <div class="form-group cpEmail">
        {{ form_label(form.cpEmail) }}
        {{ form_widget(form.cpEmail) }}
        {{ form_errors(form.cpEmail) }}
    </div>

    <div class="form-group">
        {{ form_label(form.password.children['first']) }}
        {{ form_widget(form.password.children['first']) }}
        {{ form_errors(form.password.children['first']) }}
    </div>

    <div class="form-group">
        {{ form_label(form.password.children['second']) }}
        {{ form_widget(form.password.children['second']) }}
        {{ form_errors(form.password.children['second']) }}
    </div>

    <div class="form-group pAddress">
        {{ form_label(form.pAddress) }}
        {{ form_widget(form.pAddress) }}
        {{ form_errors(form.pAddress) }}
    </div>

    <div class="form-group companyEmail">
        {{ form_label(form.companyEmail) }}
        {{ form_widget(form.companyEmail) }}
        {{ form_errors(form.companyEmail) }}
    </div>

    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
