{% extends 'base.html.twig' %}

{% block title %}Job - List{% endblock %}

{% block body %}
    <h1>List of Jobs</h1>
    {% for job in jobs %}
        <ul>
            <li>Job Title: {{ job.JobTitle }}</li>
            <li>Job Reference: {{ job.JobReference }}</li>
            <li>Job Closing Date: {{ job.ClosingDate|date('Y-m-d') }}</li>
            <li>Job Description: {{ job.JobDescr }}</li>
            <li>Company: {{ job.company.companyName }}</li>
            <a href="{{ path('company_job_application', {id: job.id}) }}">
                <button type="button" class="btn btn-primary" value="view">View Applicant</button></a>
        </ul>
    {% endfor %}
{% endblock %}