{% extends 'base.html.twig' %}

{% block title %}Application - List{% endblock %}

{% block body %}
    <h1>List of Applicant</h1>
    {% for application in applications %}
        <ul class="application">
            {% if general %}
                <li>Job: {{ application.job.JobTitle }}</li>
            {% endif %}
            <li>Applicant Title: {{ application.seeker.title }}</li>
            <li>Applicant Name: {{ application.seeker.lastname ~ ' ' ~ application.seeker.firstname }}</li>
            <li>Applicant Email: {{ application.seeker.email }}</li>
            <li>Applicant Contact: {{ application.seeker.contact }}</li>
            <li>Highest Qualification Achieve: {{ application.seeker.hqa }}</li>
            {% if application.status == 'new'  %}
                <i class="fas fa-info-circle app-pending"></i>
            {% elseif application.status == 'pending' %}
                <i class="far fa-eye app-view"></i>
            {% elseif application.status == 'accept' %}
                <i class="far fa-check-circle app-accept"></i>
            {% elseif application.status == 'reject' %}
                <i class="far fa-times-circle app-reject"></i>
            {% endif %}
            <a href="{{ path('view_application', {id: application.id}) }}">
                <button type="button" class="btn" value="Apply">View</button></a>
        </ul>
    {% endfor %}
{% endblock %}